@page "/create"
@inherits CreateProjectBase
@using NETCore.Encrypt
@inject Blazored.LocalStorage.ILocalStorageService StorageService

@if (Username != null)
{
    @if (projectcount < 2)
    {
        <form @onsubmit="@CreateNewProject">
            <input type="text" placeholder="Project name..."  @bind-value="Name"/>
            <input type="submit">Create
        </form>
    }
    else 
    {
        <h1>Sorry, currently you can only have 2 project spaces at a time.</h1>
    }
}
else 
{
    <h1>You're not logged in!</h1>
}


@code
{
    string Username;
    int projectcount;
    protected override async Task OnInitializedAsync()
    {
        Username = await StorageService.GetItemAsync<string>("username");
        projectcount = await StorageService.GetItemAsync<int>("projectcount");
    }
}

