@page "/home"
@using Mlurple_WebApp.Pages
@using Mlurple_WebApp.Classes
@inherits HomePageBase

@if (_authState == false)
{
    @CurrentUser
    <h1>You're not logged in</h1> 
}
else if (_authState == true)
{
    @CurrentUser
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="f1-dark">Hello, @SessionUser.username</h1>
                <p class="lead text-muted">Team collaboration made easier, get started on your next project now!</p>
            </div>
        </div>
    </div>

    @if (hasProjects == true)
    {
        @foreach (var p in SessionUser.projects)
        {
            <h1>@p</h1>
        }
    }
    else if (hasProjects == false)
    {
        <h1>No projects found.</h1>
    }
    <br>
    <br>
    <button @onclick="@OpenCreationPage">Create new project</button>
}