@page "/home"
@using Mlurple_WebApp.Pages
@using Mlurple_WebApp.Classes
@inherits HomePageBase

@if (currentUser == null)
{
    <h1>You're not logged in</h1> 
}
@if (currentUser != null)
{
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="f1-dark">Hello, @currentUser</h1>
                <p class="lead text-muted">Team collaboration made easier, get started on your next project now!</p>
            </div>
        </div>
    </div>
 
    @foreach (var p in userprojects)
    {
        @if (p != "")
        {
            <div class="project-card">
                <div class="card mb-3" style="max-width: 570px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="..." alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body" @onclick="() => SetProject(p)">
                        <h5 class="card-title">@p</h5>
                        <p class="card-text">Brief project description</p>
                        <p class="card-text"><small class="text-muted">Project space created on: March 10, 2021.</small></p>
                        <p class="card-text"><small class="text-muted">Project expected to be completed by: March 21, 2021.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    }
    <br>
    <br>
    @if (projectcount < 2)
    {
        <button @onclick="@OpenCreationPage">Create new project</button>
    }
}
@code 
{
    string currentUser;
    List<string> userprojects = new List<string>();
    int projectcount;
    protected override async Task OnInitializedAsync()
    {
        currentUser =  await StorageService.GetItemAsync<string>("username");
        if (currentUser != null)
        {
            userprojects = await GetUserProjects(currentUser);
            projectcount = await StorageService.GetItemAsync<int>("projectcount");
        }
    }
    protected async Task SetProject(string project)
    {
        await StorageService.SetItemAsync("project", project);
        navigationManager.NavigateTo("/project");
    }
}