@page "/home"
@using Mlurple_WebApp.Pages
@using Mlurple_WebApp.Classes
@inherits HomePageBase

@if (username == null)
{
    <h1>You're not logged in</h1> 
}
@if (username != null)
{
<div class="py-5 mx-0 mb-4 jumbotron jumbotron-fluid home-header">
    <div class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="f1-dark">Hello, @username</h1>
                <p class="lead">Team collaboration made easier, get started on your next project now!</p>
            </div>
        </div>
    </div>
</div>
<h3 class="text-dark">Your projects</h3>
<hr>
 <div class="card-group">
    @if (projectcount != 0)
    {
        @foreach (var p in userprojects)
        {
            @if (p != "")
            { 
             <div class="card mx-auto" style="width: 300px;">
                <div class="card-body bg-light" @onclick="() => SetProject(p)">
                    <h5 class="card-title text-center">@p</h5>
                    <h6 class="card-subtitle text-center">Overall progress:</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                    </div>
                    <h1 class="text-center">50%</h1>
                </div>
            </div>
            }
        }
        @for (int i = projectcount -1; i < 4; i++)
        {
            <div class="card mx-auto" style="width: 300px;">
                <div class="card-body bg-light text-center">
                    <h5 class="card-title">Empty project</h5>
                    <h6 class="card-subtitle">Get started on your next team project!</h6>
                    <button class="btn btn-create mt-3" @onclick="@OpenCreationPage">Create</button>
                </div>
            </div>
        }
    }
    else {
        @for (int i = 0; i < 4; i++)
        {
            <div class="card mx-auto" style="width: 300px;">
                <div class="card-body bg-light text-center">
                    <h5 class="card-title">Empty project</h5>
                    <h6 class="card-subtitle">Get started on your next team project!</h6>
                    <button class="btn btn-create mt-3" @onclick="@OpenCreationPage">Create</button>
                </div>
            </div>
        }
    }
 </div>
}
@code 
{
    string username;
    string currentUser;
    List<string> userprojects = new List<string>();
    int projectcount;
    protected override async Task OnInitializedAsync()
    {
        currentUser =  await StorageService.GetItemAsync<string>("email");
        if (currentUser != null)
        {
            username = await StorageService.GetItemAsync<string>("username");
            userprojects = await GetUserProjects(currentUser);
            projectcount = await StorageService.GetItemAsync<int>("projectcount");
        }
    }
    protected async Task SetProject(string project)
    {
        navigationManager.NavigateTo($"/project/{project}", true);
    }
}