@page "/login"
@inherits LoginPageBase

<EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input type="text" aria-placeholder="username" @bind-value="userModel.Username" />
    <input type="password" aria-placeholder="password" @bind-value="userModel.Password" />
    <input type="submit" />
</EditForm>
<h1>@LoginStatus</h1>
