@page "/login"
@inherits LoginPageBase

<main class="form-signin">
    <EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h3 id="loginHeader">Login</h3>
        <br>
        <input type="text" id="loginUsername" placeholder="Username" class="form-control" required autofocus @bind-value="userModel.Username" />
        <input type="password" placeholder="Password" @bind-value="userModel.Password" class="form-control" required autofocus/>
        <input type="submit" class="w-100 btn btn-lg loginButton" />
    </EditForm>
</main>

<h1>@LoginStatus</h1>
