@page "/project"
@using Mlurple_WebApp.Classes

@inherits ProjectPageBase

@if (_username != null)
{
    @foreach (string info in projectInfo)
    {
        <p>@info</p>
    }
}
else if (_username == null)
{
    <p>You're not logged in.</p>
}