@page "/register"
@using Mlurple_WebApp.Classes;
@inherits RegisterPageBase;

@if (CurrentUser == null)
{
    <main class="login">
    <form @onsubmit="@HandleValidSubmit">
        <h3 id="loginHeader">Login</h3>
        <br>
        <input type="text" id="loginUsername" placeholder="Username" class="form-control" required autofocus @bind-value="Username" />
        <input type="password" placeholder="Password" @bind-value="Password" class="form-control" required autofocus/>
        <input type="submit" class="w-100 btn btn-lg loginButton" />
    </form>
</main>
<h1>@RegisterStatus</h1>
}
else 
{
    <h1>You're already logged in.</h1>
}

