@inherits LayoutComponentBase
@using Mlurple_WebApp.Classes
@using Blazored.LocalStorage
@inject ILocalStorageService StorageService

@* <div class="page">
    <div class="sidebar">
    <NavMenu />
    </div>
</div> *@

<div class="main">
    <div class="top-row px-4">
        @if (isAuthorized == true)
        {
            <a href="/logout">Logout</a>
        }
        else if (isAuthorized == false)
        {
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@* </div> *@
@code
{
    bool isAuthorized;
    protected override async Task OnInitializedAsync()
    {
        isAuthorized = await StorageService.GetItemAsync<bool>("authorized");
    }
}
