@inherits LayoutComponentBase
@using Mlurple_WebApp.Classes

@* <div class="page">
    <div class="sidebar">
    <NavMenu />
    </div>
</div> *@

<div class="main">
    <div class="top-row px-4">
        @if (Session.isAuthorized)
        {
            <a href="/logout">Logout</a>
        }
        else if (!Session.isAuthorized)
        {
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@* </div> *@
